.article-container {
  margin: 0 auto;
  width: 70%;
  background-color: #ececec;
  padding: 10px;
}

.article-header {
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
}

.article-title {
  font-size: 20px;
  font-family: "Audiowide-Regular", serif;
}

.article-date {
  font-size: 14px;
  color: #b0b0b0;
  font-family: "ShareTechMono-Regular", serif;
}

.article-body {
  padding: 10px;
  font-family: "ShareTechMono-Regular", serif;
  font-size: 15px;
}

.code {
  //background-color: black;
  //font-family: "JetBrainsMono-Regular", monospace;
}

::ng-deep code {
  font-family: "JetBrainsMono-Regular", monospace, serif;
  color: #1c1c1c;
  background-color: #e0e0e0;
  font-size: 90%;
  padding: 0 3px;
}

::ng-deep pre {
  background-color: #303030;
  border: 1px solid #FFFFFF;
}

::ng-deep pre code {
  color: #989898;
  background-color: transparent;
  padding: 0;
}

::ng-deep table {
  width: 100%;
  border-collapse: collapse;
}

::ng-deep td, ::ng-deep th {
  border: 1px solid black;
  padding: 0 5px;
}
