/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  //background-color: #1976dF;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url(./assets/home_background.png);
  //background-size: cover;
}

@font-face {
  font-family: PressStart2P-Regular;
  src: url(assets/font/PressStart2P-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Audiowide-Regular;
  src: url(assets/font/Audiowide-Regular.ttf) format("opentype");
}

@font-face {
  font-family: ShareTechMono-Regular;
  src: url(assets/font/ShareTechMono-Regular.ttf) format("opentype");
}
